function updateBuses() {
            fetch('/api/buses')
                .then(res => res.json())
                .then(data => {
                    data.forEach(bus => {
                        // Izvlačimo podatke iz API-ja
                        let lat = bus.lat;
                        let lon = bus.lon;
                        
                        // Detalji koje si tražio:
                        let linija = bus.line_name || "Nije dostupno";
                        let smjer = bus.destination || "Nepoznat smjer";
                        let garazniBroj = bus.device_number || bus.id; // device_number je obično garažni broj

                        if (lat && lon) {
                            let popupText = `
                                <b>Linija:</b> ${linija}<br>
                                <b>Smjer:</b> ${smjer}<br>
                                <b>Garažni broj:</b> ${garazniBroj}
                            `;

                            if (markers[bus.id]) {
                                markers[bus.id].setLatLng([lat, lon]);
                                markers[bus.id].getPopup().setContent(popupText);
                            } else {
                                markers[bus.id] = L.marker([lat, lon])
                                    .addTo(map)
                                    .bindPopup(popupText);
                            }
                        }
                    });
                });
        }
